* {
    background-image: none;
    font-size: 20px;
}

@import "/home/theophile/.cache/wal/colors-waybar.css";

window {
    background-color: transparent;
}

button {
    color: @color1;
    background-color: @background;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @color2;
    background-size: 30%;
}

button:hover {
    background-color: @color3;
    background-size: 40%;
    border-radius: 10px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 10px;
    margin : 10px 0px 10px 10px;
}

button:hover#logout {
    border-radius: 10px;
    margin : 10px 0px 10px 10px;
}

button:hover#suspend {
    border-radius: 10px;
    margin : 10px 0px 10px 10px;
}

button:hover#shutdown {
    border-radius: 10px;
    margin : 10px 0px 10px 10px;
}

button:hover#hibernate {
    border-radius: 10px;
    margin : 10px 0px 10px 10px;
}

button:hover#reboot {
    border-radius: 10px;
    margin : 10px 0px 10px 10px;
}

#lock {
    background-image: image(url("./icons/lock.png"), url("./icons/lock.png"));
    border-radius: 10px 0px 0px 10px;
    margin : 10px 0px 10px 10px;
}

#logout {
    background-image: image(url("./icons/logout.png"), url("./icons/logout.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 10px 0px 10px 10px;
}

#suspend {
    background-image: image(url("./icons/suspend.png"), url("./icons/suspend.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 10px 0px 10px 10px;
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"), url("./icons/hibernate.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 10px 0px 10px 10px;
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"), url("./icons/shutdown.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 10px 0px 10px 10px;
}

#reboot {
    background-image: image(url("./icons/reboot.png"), url("./icons/reboot.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 10px 0px 10px 10px;
}
